# Created by .ignore support plugin (hsz.mobi)
/.project
/.pydevproject
/.idea/

/10_io/binfile
/10_io/binfile2
/10_io/*.bak
/10_io/*.dat
/10_io/*.dir
/10_io/*.pickle
/10_io/names.txt
/10_io/person.txt
/11_modfunc/textfile.txt

