{% extends "entries/base.html" %}
{% block title %}Welcome to the entry site {% endblock title %}
{% block page-content %}
<h1>Welcome {{ user.first_name }}!</h1>
<div class="home-option">
    List of entries: <a href="{% url "entries" %}">here</a>
</div>
<div class="home-option">
    New entry: <a href="{% url "insert" %}">here</a>
</div>
<div class="home-option">
    Logout: <a href="{% url "logout" %}">here</a>
</div>
<div class="home-option">
    Admin: <a href="{% url "admin:index" %}">here</a>
</div>
{% endblock page-content %}
